body {
	font: 16px Lucida Grande, Segoe UI, sans-serif;
	background-color: #d9d9cf;
	margin: 0 auto;
	padding-top: 192px;
}

* html body {
	overflow: hidden;
}

a {
	color: #6666cc;
	text-decoration: none;
}

#footer {
	position: fixed;
	bottom: 0;
	z-index: 2;
	left: 50%;
	margin-left: -350px;
	width: 700px;
	background-color: black;
	opacity: 0.8;
	color: #ccc;
	border: 1px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

#footer-status {
	float: left;
	display: inline-block;
	padding: 0.4em 1em;
	font-size: 12px;
}

#footer-content {
	display: none;
	text-align: center;
}

.update-success {
	color: lime;
}

#footer-content p {
	color: #ccc;
	padding: 0 2em;
}

div.tabs {
	margin: 0;
	float: right;
	font-weight: bold;
	font-size: 12px;
}

div.tabs a {
	display: inline-block;
	padding: 0.4em 1em;
	color: #ccc;
}

div.tabs a:hover {
	color: white;
}

div.tabs a.selected {
	color: black;
	background-color: #ccc;
}

div.tabs a + a {
	border-left: 1px dotted #ccc;
}

#header {
	position: fixed;
	background-color: #d9d9cf;
	top: 0;
	width: 100%;
	height: 192px;
	z-index: 1;
}

#search {
	width: 800px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 34px;
	text-align: center;
}

#top {
	position: relative;
	width: 800px;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	border: 1px solid white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	padding: 10px;
}

#hack-header {
	width: 800px;
	margin: 0 auto;
	background-color: white;
	border: 1px white solid;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	padding: 10px;
}

* html div#content {
	height: 100%;
	overflow: auto;
	position: relative;
	z-index: -1;
}

#playlist {
	width: 800px;
	position: relative;
	background-color: white;
	border: 1px solid white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	margin: 0 auto 50px auto;
	padding: 0 10px 21px 10px;
}

#now-playing {
	white-space: nowrap;
	overflow: hidden;
	font-size: 32px;
	font-weight: bold;
	vertical-align: bottom;
	margin-bottom: 0.5em;
	height: 62px; /* logo.png is 62px tall */
}

.nofiles {
	text-align: center;
	font-size: 14px;
	color: #ccc;
}

#playlist > ul.files  {
	margin-top: 0;
	margin-bottom: 0;
}

ul.files {
	padding: 0;
	list-style: none;
}

ul.files li {
	padding-left: 20px;
	padding-bottom: 1px;
}

.dir > a {
	white-space: nowrap;
}

.open-dir > a {
	white-space: nowrap;
	font-style: italic;
}

.songs {
	font: 16px Lucida Grande, Segoe UI, sans-serif;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.songs tr + tr td {
	border-top: 1px dotted #9fb4ff;
}

.songs td {
	margin: 0;
	padding: 2px 0;
}

.songs .no {
	width: 52px; /* 2em + 20px @ 1em = 16px */
}

.songs .no > div {
	padding-left: 20px;
	width: 2em;
	/* height: 18px; hack to make hl-left and hl-right vertical align right */
}

.songs .title {
	width: 55%;
}

.songs .title > a {
	white-space: nowrap;
}

.songs .artist {
	padding-left: 20px;
	padding-right: 20px;
}

.songs .artist > span {
	white-space: nowrap;
}

.songs .duration {
	width: 60px; /* 2.5em + 20px @ 1em = 16px */
}

.songs .duration > div {
	width: 2.5em;
	padding-right: 20px;
	text-align: right;
}

.songs .hl-left {
	position: absolute;
	left: 0;
}

.songs .hl-right {
	position: absolute;
	right: 0;
}

.songs .playing .hl-left {
	height: 20px;
	background-color: #9fb4ff;
	border-right: 0.5em solid #9fb4ff;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

.songs .playing .hl-right {
	height: 20px;
	background-color: #9fb4ff;
	border-left: 0.5em solid #9fb4ff;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
}

.songs .paused .hl-left {
	height: 20px;
	background-color: #ccc;
	border-right: 0.5em solid #ccc;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

.songs .paused .hl-right {
	height: 20px;
	background-color: #ccc;
	border-left: 0.5em solid #ccc;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
}

.error {
	color: red;
}

#controls #statusbar {
	position: relative;
	height: 12px;
	background-color: #d9d9cf;
	border: 2px solid #d9d9cf;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	overflow: hidden;
	cursor: -moz-grab;
	cursor: grab;
}

#controls #statusbar #position,
#controls #statusbar #loading {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 12px;
}

#controls #statusbar #position {
	background-color: #9fb4ff;
	border-right: 3px solid #9fb4ff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#controls #statusbar #loading {
	background-color: #eeeee1;
	border-right: 3px solid #eeeee1;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

}

#timing {
	display: none;
	position: relative;
	bottom: 26px;
}

#timing-position {
	position: absolute;
	left: 0;
	padding: 5px;
	padding-top: 2px;
	background-color: #d9d9cf;
	border-top: 1px solid #d9d9cf;
	border-left: 1px solid #d9d9cf;
	border-right: 1px solid #d9d9cf;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

#timing-total {
	position: absolute;
	right: 0;
	padding: 5px;
	padding-top: 2px;
	background-color: #d9d9cf;
	border-top: 1px solid #d9d9cf;
	border-left: 1px solid #d9d9cf;
	border-right: 1px solid #d9d9cf;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

#keyhelp {
	display: none;
	z-index: 100;
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	font-size: 14px;
}

#keyhelp > div {
	position: relative;
	width: 500px;
	margin: 0 auto;
	background-color: black;
	color: #ccc;
	opacity: 0.8;
	border: 1px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#keyhelp h1 {
	text-align: center;
	font-size: 18px;
}

#keyhelp dl {
	margin: 0 4em 2em 3em;
}

#keyhelp dt {
	position: absolute;
	left: 2em;
	text-align: center;
	width: 2em;
}

.cmd {
	color: white;
	font-weight: bold;
	font-family: Monaco, Consolas, monospace;
}

#keyhelp dd {
	margin-left: 3em;
}

#volume {
	display: none;
	z-index: 50;
	position: fixed;
	bottom: 50px;
	left: 50%;
	margin-left: -150px;
}

#volume > div {
	position: relative;
	width: 300px;
	height: 280px;
	margin: 0 auto;
	background-color: black;
	text-align: center;
	opacity: 0.8;
	border: 1px solid black;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

#volume > div > img {
	margin: 25px;
}

#volume #volumebar {
	position: relative;
	margin: 0 20px;
	height: 20px;
	background-color: #222;
	border: 2px solid #222;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	overflow: hidden;
}

#volume #volumebar #volumebar-position {
	position: absolute;
	left: 0;
	top: 0;
	height: 20px;
	background-color: white;
	border-right: 3px solid white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 99%;
}
